.container_body {
  background-color: white;
  overflow-y: scroll;
}
.log_row {
  display: flex;
  justify-content: center;
  text-align: center;
}
.status {
  display: flex;
  justify-content: center;
  align-items: center;
}
